@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #2F3C3A;
    color: #f6f6f6;
}

p {
    padding: 15px 0 35px 0;
}


img {
    border-radius: 10%;
    border: 3px solid;
    border-color: #A67763;
}

.titulo-destaque {
    color: #E67D50;
}

.apresentacao {
    margin: 10% 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.apresentacao__conteudo {
    width: 615px;
    height: 482px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: "Krono One", sans-serif;
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400px;
    line-height: 36px;
}

.apresentacao__conteudo__links {
    display: flex;
    justify-content: space-between;
}

.apresentacao__conteudo__links__link {
    color: #0D3359;
    background-color: #E67D50;
    margin: 0 5px 0 5px;
    padding: 21.5px 0 21.5px 0;
    border-radius: 16px;
    border: 1px solid #A67763;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-decoration: none;
    font-size: 24px;
    width: 280px;
    text-align: center;
}

.apresentacao__conteudo__links__link:hover {
    transition: 0.1s;
    cursor: pointer;
    background-color: #D9412B;
}
